/* Global styles */
body {
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
  background-color: #ebe6e3;
  color: #222;
  padding-top: 5px;
  text-align: center
}

/* Container styles */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.container-bunnies,
.container-walks,
.container-paths,
.container-seen-bunnies {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  display: grid;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.container-bunnies,
.container-seen-bunnies {
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr)); /* Adjust column width and min width */

}


/* Card styles */
.card,
.card-path,
.card-walks,
.card-bunnies,
.card-bunnies-seen,
.walk-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  background: #f9f9f9;
  border-radius: 15px;
  box-shadow: 1px 5px 30px rgba(150, 148, 190, 0.4);
  animation: slideIn 0.5s ease-in-out;
  transition: box-shadow 0.2s ease;
  padding: 5px;
  margin-bottom: 20px;
}

.card-bunnies,
.card-walks,
.card-paths {
  width: 100%;
}
.card-bunnies-seen {
  padding-top: 15px;
}

/* Headings */
h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

/* Paragraphs */
p {
  font-size: 10px;
  line-height: 1.6;
  color: #444;
}

/* Links */
a {
  text-decoration: none;
  color: #222;
}

/* Buttons */
button {
  font-size: 10px;
  padding: 8px 16px;
  border-radius: 15px;
}

/* Navbar styles */
.navbar {
  padding: 10px;
  text-align: left;
}

.links a {
  font-size: 10px;
  margin-left: 10px;
}

/* Additional styling for the form elements */
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

/* Adjustments for specific card styles */
.card-bunnies-image,
.card-walks-image,
.card-bunnies-image-seen {
  width: 30%;
  height: 60%;
  border-radius: 6px 6px 0 0;
}

.card-bunnies-image-seen:hover {
  transform: scale(1.2);
}

.flush-left {
  text-align: left;
  margin-left: 5px;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

/* Style for the input fields */
input[type="text"],
textarea, input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

/* Style for the focused input fields */
input[type="text"]:focus,
textarea:focus,
select:focus {
  border-color: #666;
  outline: none;
}

/* Style for the buttons */
button {
  font-size: 10px;
  padding: 8px 16px;
  border-radius: 15px;
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  color: black;
}

button:hover {
  background-color: #ccc;
  border-color: #999;
}

/* Media query for small screens (e.g., mobile phones) */
@media screen and (max-width: 600px) {
  .container {
    padding: 5px;
  }

  .card-bunnies-image-seen:hover {
    transform: scale(1);
  }

  .navbar {
    padding: 8px;
  }

  .links a {
    font-size: 12px;
    margin-left: 5px;
  }

}
